
h2 {color:#045FB4;}
h3 {color:#2E2E2E;}
a:link {color:#6E6E6E;text-decoration:underline;}  
a:hover {color:#045FB4;text-decoration:underline;}   
a:active {color:#6E6E6E;text-decoration:underline;} 
a:visited {color:#6E6E6E;text-decoration:underline;}

.positiv {word-spacing: 1em;}

